{% extends 'index.html' %}
{% load staticfiles %}

<div id="featured">
	{% block content %}
		<ul class="lst">
				<li class="first">
					<p class="numbering"><b>.I</b></p>
					<h3 id="contenttitle1">General Skills:</h3>
					<h4 id="subtitle1">Gained in Medical:</h4>
					<p id="content1">
						<ul id="list1" class="list">
							<li>Active Listening </li>
							<li>Critical Thinking</li>
							<li>Judgment and Decision Making</li>
							<li>Social Perceptiveness</li>
							<li>Active Learning</li>
							<li>Clerical Knowledge</li>
							<li>Administration</li>
							<li>Attention to Detail</li>
							<li>Adaptability/Flexibility</li>
							<li>Analytical Thinking</li>
							<li>Judgment and Decision Making</li>
						</ul>
					</p>
				</li>
				<li>
					<p class="numbering"><b>.II</b></p>
					<h3 id="contenttitle2"></h3>
					<h4 id="subtitle2">Gained in Armed Forces:</h4>
					<p id="content2">
						<ul id="list2" class="list">
							<li>Leadership</li>
							<li>Ability to Work Under Pressure</li>
							<li>Attention to detail</li>
							<li>Security Clearances</li>
							<li>Systematic Planning and Organization</li>
							<li>Flexibility and Adaptability</li>
							<li>Critical Thinking </li>
							<li>Time Management</li>
							<li>Professionalism</li>
							<li>Self-Direction</li>
							<li>Initiative</li>
							<li>Finding Efficiencies</li>
						</ul>
					</p>
				</li>
				<li>
					<p class="numbering"><b>.III</b></p>
					<h3 id="contenttitle3"></h3>
					<h4 id="subtitle3">Gained in Programming:</h4>
					<p id="content3">
						<ul id="list3" class="list">
							<li>Recall information</li>
							<li>Attention to detail</li>
							<li>Ability to think abstractly</li>
							<li>Problem-solving</li>
							<li>Organization</li>
							<li>Deductive Reasoning</li>
							<li>Research</li>
							<li>Communication</li>
							<li>Team Work</li>
						</ul>
					</p>
				</li>
			</ul>
			<a href="{% url 'home' %}">Home>></a>
	{% endblock %}
</div>
