{% extends 'index.html' %}
{% load staticfiles %}

<div id="featured">
	{% block content %}
		<ul class="lst">
				<li class="first">
					<p class="numbering"><b>.I</b></p>
					<h3 id="contenttitle1">Hospital Apprentice:</h3>
					<h4 id="subtitle1">
						January 2007 - September 2007 Great Lakes IL:
					</h4>
					<p id="content1">
						<ul id="list1" class="list">
							<p>During my time in Great lakes, I received training to provide assistance in the prevention and treatment of disease and injury; including first aid and preventive medicine procedures. Assisted with physical examinations; and patient care. Administered medicinal and parenteral solutions; performed general laboratory, pharmacy and other patient support services. In addition, performed administrative supply and accounting procedures within medical departments ashore, afloat and with the Marine Corps. Instruct medical and non-medical personnel in first aid, self aid, personal hygiene and medical records maintenance. Assisted in the transportation of the sick and injured. Learned to assist in the maintenance of environmental health standards and the prevention / treatment of chemical, biological and radiological (CBR) casualties along with other contingencies.</p>
						</ul>
					</p>
				</li>
				<li>
					<p class="numbering"><b>.II</b></p>
					<h3 id="contenttitle2">Surgical Technologist - Arrowhead Regional Medical:</h3>
					<h4 id="subtitle2">June 2015 - September 2015 Colton, CA:</h4>
					<p id="content2">
						<ul id="list2" class="list">
							<p>Surgical areas I scrubbed for includes: General Surgery, Gynecology, Genitourinary, Vascular, Orthopedic, and Re-constructive surgery.  Duties include scrubbing, gowning and donning gloves; setting up sterile back table and Mayo stand with instruments, supplies and medical solutions needed for specific procedures; prepare sterile dressings; gown and glove surgeon and assistant; assist with draping sterile field; perform appropriate counts with circulator prior to surgery and before closure; and check supplies and equipment needed for surgical procedures.  Maintain highest standard of sterile technique during procedure; assist with cleaning the operating room, and prepare for the next patient.  Perform decontamination, preparation and sterilization of instrumentation.</p>
						</ul>
					</p>
				</li>
				<li>
					<p class="numbering"><b>.III</b></p>
					<h3 id="contenttitle3">Medical Records Technician:</h3>
					<h4 id="subtitle3"> March 2016 - June 2016 Riverside, CA:</h4>
					<p id="content3">
						<ul id="list3" class="list">
							<p>Medical record keeping; Reviewed patient medical records for completeness, accuracy and regulatory compliance, Retrieved patient medical records for physicians, technicians and staff, Protected the security of medical records to ensure confidentiality. And audited health record indexes and storage/retrieval systems. Utilized eClinicalWorks database software to collect, classify, store and analyze information in addition to scheduling patient appointments.</p>
						</ul>
					</p>
				</li>
				<li>
					<p class="numbering"><b>.IV</b></p>
					<h3 id="contenttitle3">Clinical Support Administration:</h3>
					<h4 id="subtitle3">August 2016 - Present Loma Linda, CA:</h4>
					<p id="content3">
						<ul id="list4" class="list">
							<p>Consistently anticipates and meet the needs of patients, medical staff, and the public in general. Follow established guidelines to receive and answer patient questions, comments and/or complaints. Obtain patient demographics, insurance and guarantor information required for quick registration. Schedule patients' appointments; enter data into EPIC and NMIS database systems, ensuring that complete and accurate accounts are produced. Use knowledge of PACS to accurately match images from other facilities to that of the  patients'. Rely on previous medical knowledge to answer and/or transfer non-medical questions to the appropriate medical staff. Perform other duties as assigned.</p>
						</ul>
					</p>
				</li>
			</ul>
			<a href="{% url 'militaryexp' %}">Military Experience>></a>
	{% endblock %}
</div>
